
/*---------------------------------------------------------------------------------
	 9. Responsive style

-------------------------------------------------------------------------------*/
@media screen and (max-width: 1068px) {
body{

}
.form-group{
  flex-wrap: wrap!important;
}
#titre_main{
  display: none;
}
#titre_2{
  display: block;
}
}
